body {
  background-image: url("https://www.itl.cat/pngfile/big/298-2982444_backgrounds-for-your-computer-or-presentation-planwallpapercom-white.jpg");
  background-repeat: no-repeat;
  background-color: #cccccc;
}
.quizBox_container {
    padding: 10px;
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
  margin-top: 150px;
  flex-direction: column;
  background: #9cd5e4;
  background-repeat: no-repeat;
  width: 100%;
  box-shadow: 9px 10px 27px 2px rgba(0, 0, 0, 0.43);
  -webkit-box-shadow: 9px 10px 27px 2px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 9px 10px 27px 2px rgba(0, 0, 0, 0.43);
  border-radius: 24px;
  background-size: cover;
}
.quizBox_question {
  padding: 20px;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}
.quizBox_answer {
  display: flex;
  justify-content: space-around;
  max-width: 500px;
  margin: 0 auto;
  width: 100%;
  padding: 10px;
  flex-direction: column;
  padding-left: 20px;
}
.quizBox_answer_left {
  display: flex;
  justify-content: space-between;
}
.quizBox_answer_right {
  display: flex;
  justify-content: space-between;
}
.quizBox_container > button {
  color: red;
}
.quizBox_option {
  width: 200px;
  border: beige;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  background: #c3e3e2;
  align-items: center;
  padding-left: 24px;

}
.quizBox_option:hover{
    background: #289ab5;
}
.quizBox_icon {
  transform: rotate(90deg);
}
.quizBox_icon_div {
  display: flex;
  justify-content: space-between;
  max-width: 900px;
  width: 96%;
  line-height: 0%;
  align-items: center;
}
.quizBox_hint {
  position: relative;
  top: -4px;
  right: -4px;
}
.quizBox_button {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
